/* .mobile-element {
  display: none;
}

@media screen and (min-width: 428px;) {
  .container {
    width: 428px;
  }
  .mobile-element {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
    padding: 96px 16px;
  }
  .advantages-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: calc((100% - 24px) / 2);
  }
}
/*
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
*/ */
